.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 400px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-form .radio-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .login-form .radio-group label {
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
  }
  
  .login-form .radio-group label input {
    margin-right: 5px;
    margin-left: 10px;
  }
  
  
  .login-form input{
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }

  .login-form button {
    width: 96%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  .login-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  